{% extends 'base/plantilla.html' %}

<!DOCTYPE html>
<html>
<head>
	<title>Ventas</title>
	<meta charset="utf-8">
	{% load staticfiles %}
	{% block extracss %}
	
	{% endblock %}
</head>
<body>
	{% block content %}
	<h2 class="mt-2 ml-3">Lista de Compras</h2>
	{% for message in messages %}
	    <div class="alert alert-{{ message.tags }} mt-5">{{ message }}</div>
	{% endfor %}
	<div class="container mt-3 ml-1">
	    <table class="table">
	        <thead class="thead-dark">
	            <tr>
	            
	                <th scope="col">Nombre</th>
	                <th scope="col">Descripcion</th>
	                <th scope="col">Costo</th>
	                <th scope="col">Cantidad</th>
	                <th scope="col">Total</th>
	            </tr>
	        </thead>
	        <tbody>
	            {% for producto in productos %}
	            <tr>
	                <td>{{producto.nombreProducto}}</td>
	                <td>{{producto.descripcion}}</td>
	                <td>${{producto.costo}}</td>
	                <td>{{producto.cantidad}}</td>
	                <td>${{producto.total}}</td>
	            </tr>
	            {% endfor %}
	            <tr>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td>Total a pagar: ${{total}}</td>
	            </tr>
	        </tbody>
	    </table>
	    
	    <a href="{% url 'pagar' %}" class="btn btn-success">Pagar</a>
	</div>
	{% endblock %}
</body>
</html>