<!DOCTYPE html>
<html>
<head>
	<title>Tienda</title>
  {% load staticfiles %}
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
  {% block extracss %}
  {% endblock %}
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  		<a class="navbar-brand" href="{% url 'index' %}">Tienda</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>

  	<div class="collapse navbar-collapse" id="navbarColor01">
    	<ul class="navbar-nav mr-auto">
      		      		<li class="nav-item">
        		<a class="nav-link" href="{% url 'vistaProductos' %}">Producto</a>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link" href="{% url 'Categoria:vistaCategoria' %}">Categorias</a>
      		</li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ventas' %}">Ventas</a>
          </li>
    	</ul>
  	</div>
	</nav>
	{% block content %}

	{% endblock %}
</body>
</html>